APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=dev-dtrkv2aqn3h4bopd.us.auth0.com
AUTH0_CLIENT_ID=GB7vmfn15VKzZPPAse6dT2clcytiCaIZ
AUTH0_CLIENT_SECRET=d5zo6CubzAgTTT206lkgahiH1ivDkvkVfm1Eq9AmeX0M9t2dXCr068RyujwD0v9z

# 64 character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production,
# generate your own secret using ⁠ openssl rand -hex 32 ⁠
AUTH0_SECRET=dc8f1144ec5697e04138a30b5d6d530ed47dc5324de18aaf0eb5a9ec353ee96b